HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.mvn/
node_modules/
dist/
build/
**/.DS_Store
.DS_Store

### Test Code Coverage ###
coverage/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Application ###
logs/
tmp/

# Local .terraform directories
**/.terraform/*
**/.terraform.lock.hcl


# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
